@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    @media (max-width: 575.98px) {
        font-size: 12px;
    }
    @media (min-width: 576px) and (max-width: 1299.98px) {
        font-size: 12px;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 13px;
    }
    @media (min-width: 2500px) {
        font-size: 20px;
    }
}

body {
    font-family: $font1;
    font-weight: 400;
    background-color: $blue;
    color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease-in-out;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
    text-decoration: none;
}

.overflowX {
	overflow-x: hidden;
}

.container {
    @media (min-width: 1300px){
        max-width: 80rem;
    }
}

.cookie_box{
	position: fixed;
    right: 0;
	left: 0;
	bottom: 0;
	width: 80%;
    margin: 0 auto;
	padding: 7rem 0;
    border-radius: 0.75rem;
	background: #4865B5;
    background-color: rgba(250, 250, 250, 0.6);
    backdrop-filter: blur(0.2rem);
	text-align: center;
	box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    z-index: 9;
    @media (max-width: 991.98px) {
        padding: 3rem 0;
    }
    .cookie__contents{
        width: 80%;
        margin: 0 auto;
        p{
            font-size: 1.35rem;
            font-weight: 600;
            color: $purple;
            @media (max-width: 991.98px) {
                font-size: 1rem;
            }
        }
        button{
            font-size: 1.25rem;
            background-color: $blue;
            color: $skyblue;
            padding: 0.5rem 2.5rem;
            border-radius: 0.75rem;
            border: none;
            &:hover{
                background-color: $skyblue;
                color: $blue;
                font-weight: 700;
            }
        }
    }
}
.hide{
	display: none;
}
.show{
	display: block;
}

.header{
    background-color: $purple;
    padding: 1.5rem 0 1rem 0;
    @media (max-width: 575.98px) {
        padding: 1.5rem 0 2rem 0;
    }
    .header__left{
        img{
            width: 27%;
            @media (max-width: 575.98px) {
                width: 50%;
            }
        }
    }
    .header__right{
        img{
            width: 65%;
            @media (max-width: 575.98px) {
                width: 100%;
            }
        }
    }
}

.hero{
    background-image: url(../img/hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 46rem;
    width: 100%;
    @include flexCenter;
    .hero__contents{
        .hero__text{
            margin-bottom: 2rem;
            @media (min-width: 576px) {
                width: 45rem;
            }
            h1{
                font-size: 1.6875rem;
                font-weight: 700;
                color: $purple;
                padding-bottom: 0.5rem;
                @media (max-width: 575.98px) {
                    font-size: 1.5rem;
                }
            }
            p{
                font-size: 1.75rem;
                color: $purple;
                @media (max-width: 575.98px) {
                    font-size: 1.5rem;
                }
            }
        }
        .hero__cards{
            @include flexCenter;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (min-width: 576px) {
                width: 41rem;
            }
            .card__single{
                @include flexCenter;
                background-color: $blue;
                width: 20rem;
                height: 6rem;
                border-radius: 1rem;
                border: 2px solid #092060;
                margin: 0.75rem 0;
                text-align: center;
                @media (max-width: 575.98px) {
                    width: 16rem;
                    height: 5rem;
                }
                @media (max-width: 320px) {
                    width: 11.5rem;
                    height: 4rem;
                }
                @media (min-width: 321px) and (max-width: 376px) {
                    width: 13.5rem;
                    height: 4rem;
                }
                p{
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: $skyblue;
                    text-transform: uppercase;
                    @media (max-width: 575.98px) {
                        font-size: 1rem;
                    }
                    @media (max-width: 320px) {
                        font-size: 0.75rem;
                    }
                    @media (min-width: 321px) and (max-width: 376px) {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}

.lie{
    .lie-bg{
        background-color: $purple;
        .lie-top{
            padding: 4.5rem 0;
            h2{
                color: $skyblue;
                font-size: 2.25rem;
                font-weight: 700;
            }
        }
        .lie-below{
            background-color: #072960;
            padding: 3.5rem 0;
            .lie-contents{
                @include flexCenter;
                justify-content: space-between;
                @media (max-width: 767.98px) {
                    flex-direction: column;
                }
                .lie-left{
                    width: 70%;
                    @media (max-width: 767.98px) {
                        width: 100%;
                        margin-bottom: 3rem;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 60%;
                    }
                    h5{
                        color: $lagoon;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding-bottom: 2.5rem;
                    }
                    p{
                        font-size: 1.25rem;
                    }
                }
                .lie-right{
                    width: 30%;
                    text-align: center;
                    @media (max-width: 767.98px) {
                        width: 100%;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 35%;
                    }
                    img, video{
                        width: 17rem;
                    }
                    p{
                        font-size: 1.25rem;
                        padding-top: 1.5rem;
                    }
                }
            }
        }
    }
    .lie-details{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blue-covid-banner.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 60rem;
        width: 100%;
        .danger__items{
            min-height: 60rem;
            @include flexCenter;
            flex-direction: column;
            .danger__top{
                @include flexCenter;
                justify-content: space-between;
                @media (max-width: 767.98px) {
                    flex-direction: column;
                }
                @media (max-width: 575.98px) {
                    padding: 4rem 0;
                }            
                img{
                    width: 20rem;
                }
                .danger__right{
                    width: 61%;
                    @media (max-width: 575.98px) {
                        width: 100%;
                        padding-top: 4rem;
                    }
                    h2{
                        color: $lagoon;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding-bottom: 2rem;
                    }
                    h5{
                        font-size: 1.25rem;
                        padding-bottom: 1rem;
                    }
                    h4{
                        font-size: 1.45rem;
                        font-weight: 700;
                        padding-bottom: 2rem;
                    }
                    p{
                        font-size: 1.25rem;
                        font-style: italic;
                    }
                }
            }
            .danger__below{
                padding-top: 5rem;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                @media (max-width: 767.98px) {
                    flex-direction: column;
                }
                @media (max-width: 575.98px) {
                    padding-top: 2rem;
                }
                .danger__left{
                    width: 70%;
                    padding-right: 1%;
                    @media (max-width: 575.98px) {
                        width: 100%;
                        padding-right: 0;
                    }
                    @media (min-width: 992px) and (max-width: 1299.98px) {
                        width: 60%;
                    }
                    h2{
                        font-size: 1.25rem;
                        padding-bottom: 2rem;
                    }
                    p{
                        font-size: 1.25rem;
                        font-style: italic;
                        padding-bottom: 2rem;
                    }
                    a{
                        font-size: 1rem;
                        font-style: italic;
                        color: $orange;
                    }
                }
                .danger__vdo{
                    @media (max-width: 575.98px) {
                        padding: 2rem 0 4rem 0;
                    }
                    video, img{
                        width: 23rem;
                        padding-bottom: 1.5rem;
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                    }
                    p{
                        font-size: 1.25rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.evidence{
    .evidence-bg{
        background-color: $purple;
        .evidence-top{
            padding: 4.5rem 0;
            h2{
                color: $skyblue;
                font-size: 2.25rem;
                font-weight: 700;
            }
        }
        .evidence-below{
            background-color: #0C2F75;
            padding: 3.5rem 0;
            .evidence-contents{
                @include flexCenter;
                justify-content: space-between;
                @media (max-width: 767.98px) {
                    flex-direction: column;
                }
                .evidence-left{
                    width: 70%;
                    @media (max-width: 767.98px) {
                        width: 100%;
                        margin-bottom: 3rem;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 60%;
                    }
                    h5{
                        color: $lagoon;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding-bottom: 2.5rem;
                    }
                    p{
                        font-size: 1.25rem;
                    }
                    a{
                        color: $skyblue;
                        font-size: 1.375rem;
                        font-weight: 700;
                        font-style: italic;
                    }
                }
                .evidence-right{
                    width: 30%;
                    text-align: center;
                    @media (max-width: 767.98px) {
                        width: 100%;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 35%;
                    }
                    img{
                        width: 25rem;
                    }
                }
            }
            .evidence-card{
                @include flexCenter;
                padding: 4rem 0;
                background-color: #072960;
                border-radius: 0.75rem;
                margin-top: 3rem;
                box-shadow: 5px 3px 7px 0px rgba(0,0,0,0.75);
                @media (max-width: 767.98px) {
                    flex-direction: column;
                }
                .card__vdo{
                    padding: 0 2rem;
                    video{
                        width: 29rem;
                        @media (max-width: 767.98px) {
                            width: 100%;
                        }
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 700;
                        font-style: italic;
                    }
                }
                .card__left{
                    width: 50%;
                    padding: 0 4rem;
                    @media (max-width: 767.98px) {
                        width: 100%;
                        padding: 0 3rem;
                        margin-top: 2rem;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        padding: 0 2rem;
                    }
                    h2{
                        color: $lagoon;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding-bottom: 2.5rem;
                    }
                }
            }
        }
    }
    .evidence-details{
        background-color: #0C2F75;
        .details__items{
            .details__below{
                padding-top: 2rem;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                @media (max-width: 991.98px)  {
                    flex-direction: column;
                }
                @media (max-width: 575.98px) {
                    padding-top: 2rem;
                }
                .details__left{
                    width: 90%;
                    padding-right: 3rem;
                    @media (max-width: 767.98px) {
                        padding-bottom: 4rem;
                    }
                    @media (max-width: 991.98px) {
                        width: 100%;
                        padding-right: 0;
                    }
                    @media (min-width: 992px) and (max-width: 1299.98px) {
                        width: 80%;
                    }
                    h2{
                        color: $lagoon;
                        font-size: 1.5rem;
                        padding-bottom: 2rem;
                        font-weight: 700;
                    }
                    p{
                        font-size: 1.25rem;
                        font-weight: 500;
                        margin-bottom: 2rem;
                    }
                    h5{
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                    a{
                        color: $skyblue;
                        font-size: 1.375rem;
                        font-weight: 700;
                        font-style: italic;
                    }
                }
                .details__vdo{
                    width: 30%;
                    padding: 4rem 0 7rem 0;
                    @media (max-width: 575.98px) {
                        padding: 2rem 0 4rem 0;
                    }
                    @media (max-width: 991.98px) {
                        width: 100%;
                    }
                    video{
                        width: 22rem;
                        @media (max-width: 991.98px)  {
                           width: 70%;
                        }
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                    }
                    p{
                        font-size: 1rem;
                        font-style: italic;
                        padding-top: 3rem;
                    }
                }
            }
        }
        .details__card{
            padding: 3rem 0;
            background-color: #072960;
            border-radius: 0.75rem;
            margin-top: 3rem;
            box-shadow: 5px 3px 7px 0px rgba(0,0,0,0.75);
            @media (max-width: 767.98px) {
            }
            .card__item{
                padding: 0 3rem;
                @media (max-width: 767.98px) {
                    width: 100%;
                    padding: 0 3rem;
                    margin-top: 2rem;
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                    padding: 0 2rem;
                }
                h2{
                    color: $lagoon;
                    font-size: 1.5rem;
                    font-weight: 700;
                    padding-bottom: 2.5rem;
                }
                p{
                    font-size: 1.25rem;
                    font-weight: 500;
                    font-style: italic;
                }
            }
        }
        .sensation{
            padding: 4rem 0;
            .sensation__top{ 
                .sensation__contents{
                    h2{
                        color: $lagoon;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding-bottom: 2rem;
                        span{
                            color: $yellow;
                        }
                    }
                    h5{
                        font-size: 1.25rem;
                        padding-bottom: 2rem;
                    }
                    h4{
                        font-size: 1.285rem;
                        font-weight: 600;
                    }
                    a{
                        color: $skyblue;
                        font-size: 1.375rem;
                        font-weight: 700;
                        font-style: italic;
                    }
                    .source{
                        padding-top: 2rem;
                        display: block;
                        font-size: 1.25rem;
                        font-style: italic;
                        color: $orange;
                    }
                    p{
                        font-size: 1.25rem;
                        font-style: italic;
                        padding-top: 2rem;
                    }
                }
            }
        }
    }
}

.hidden{
    .hidden-bg{
        background-color: $purple;
        .hidden-top{
            padding: 4.5rem 0;
            h2{
                color: $skyblue;
                font-size: 2.25rem;
                font-weight: 700;
            }
        }
        .hidden-below{
            background-color: #01116B;
            padding: 3.5rem 0;
            .hidden-contents{
                @include flexCenter;
                justify-content: space-between;
                @media (max-width: 767.98px) {
                    flex-direction: column;
                }
                .hidden-left{
                    width: 50%;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    @media (max-width: 767.98px) {
                        width: 100%;
                        margin-bottom: 3rem;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 60%;
                    }
                    h5{
                        color: $lagoon;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding-bottom: 2.5rem;
                    }
                    p{
                        font-size: 1.25rem;
                    }
                    h4{
                        font-size: 1.125rem;
                        font-style: italic;
                        padding-top: 3rem;
                    }
                }
                .hidden-right{
                    width: 45%;
                    @media (max-width: 767.98px) {
                        width: 100%;
                    }
                    .right__contents{
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        @media (max-width: 991.98px) {
                            flex-direction: column;
                            align-items: center;
                        }
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            width: 100%;
                            flex-direction: row;
                        }
                        @media (min-width: 992px) and (max-width: 1299.98px) {
                            flex-direction: column;
                            align-items: center;
                        }
                        img{
                            width: 17rem;
                        }
                        .card__vdo{
                            width: 100%;
                            text-align: center;
                            margin: 0 2rem;
                            @media (max-width: 991.98px) {
                                width: auto;
                            }
                            @media (max-width: 1299.98px) {
                                margin-top: 2rem;
                            }
                            video{
                                width: 20rem;
                                @media (max-width: 767.98px) {
                                    width: 100%;
                                }
                                @media (max-width: 1299.98px) {
                                    width: 17rem;
                                }
                            }
                        }
                    }
                }
            }
            .hidden-card{
                padding-top: 4rem;
                .card__single{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 0.5rem;
                    @media (max-width: 575.98px) {
                        justify-content: center;
                    }
                    @media (max-width: 991.98px) {
                        flex-wrap: wrap;
                    }
                    .card__item{
                        text-align: center;
                        @media (max-width: 991.98px) {
                            margin-bottom: 1rem;
                        }
                        .card__bg{
                            background-color: $white;
                            padding: 2rem 1rem;
                            text-align: center;
                            border-radius: 1rem;
                            min-height: 12rem;
                            margin: 0.5rem;
                            max-width: 20rem;
                            @media (max-width: 575.98px) {
                                max-width: 15rem;
                            }
                            @media (min-width: 576px) and (max-width: 767.98px) {
                                max-width: 12rem;
                            }
                            @media (min-width: 768px) and (max-width: 991.98px) {
                                max-width: 14rem;
                            }
                            h2{
                                color: $blue;
                                font-size: 1rem;
                                font-weight: 600;
                            }
                        }
                        p{
                            font-size: 0.85rem;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
    .hidden-details{
        background-color: #0C2F75;
        .sensation{
            padding: 6rem 0;
            .sensation__top{ 
                .sensation__contents{
                    h2{
                        color: $lagoon;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding-bottom: 2rem;
                        span{
                            color: $yellow;
                        }
                    }
                    h5{
                        font-size: 1.25rem;
                        padding-bottom: 3rem;
                    }
                    .source{
                        display: block;
                        font-size: 1.25rem;
                        font-style: italic;
                        color: $orange;
                        padding-bottom: 4rem;
                    }
                }
            }
        }
    }
}

.gene{
    .gene-bg{
        background-color: $purple;
        .gene-top{
            padding: 4.5rem 0;
            h2{
                color: $skyblue;
                font-size: 2.25rem;
                font-weight: 700;
            }
        }
    }
    .gene-details{
        background-color: #0C2F75;
        .sensation{
            padding: 6rem 0;
            .sensation__top{ 
                .sensation__contents{
                    h2{
                        color: $lagoon;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding-bottom: 0.5rem;
                        span{
                            color: $yellow;
                        }
                    }
                    p{
                        font-size: 1.35rem;
                        padding-bottom: 2rem;
                    }
                    h5{
                        font-size: 1.25rem;
                        padding-bottom: 6rem;
                    }
                    .source{
                        display: block;
                        font-size: 1.25rem;
                        font-style: italic;
                        color: $orange;
                        padding-bottom: 4rem;
                    }
                }
            }
        }
    }
}

.phases{
    .phases-bg{
        background-color: $purple;
        .phases-top{
            padding: 4.5rem 0;
            h2{
                color: $skyblue;
                font-size: 2rem;
                font-weight: 700;
            }
        }
    }
    .phases-details{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blue-covid-banner.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 50rem;
        width: 100%;
        .phases__items{
            @include flexCenter;
            justify-content: space-between;
            min-height: 50rem;
            @media (max-width: 767.98px) {
                flex-direction: column;
                padding: 4rem 0;
            }
            .phases__left{
                width: 50%;
                @media (max-width: 575.98px) {
                    padding: 4rem 0;
                }
                @media (max-width: 767.98px) {
                    width: 100%;
                }
                h2{
                    font-size: 2.625rem;
                    font-weight: 600;
                    padding-bottom: 2rem;
                    @media (max-width: 575.98px) {
                        font-size: 1.625rem;
                    }
                    span{
                        color: $yellow;
                        font-weight: 700;
                    }
                }          
                img{
                    width: 30rem;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                }
            }
            .phases__right{
                @include flexCenter;
                flex-direction: column;
                width: 50%;  
                @media (max-width: 767.98px) {
                    padding-top: 4rem;
                    width: 100%;
                }     
                img{
                    width: 25rem;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        width: 20rem;
                    }
                }
                p{
                    width: 25rem;
                    padding: 0 0 2rem 0;
                    background-color: $black;
                    font-size: 1.2rem;
                    font-style: italic;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        width: 20rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.suicide{
    .suicide-bg{
        background-color: $purple;
        .suicide-top{
            padding: 4.5rem 0;
            h2{
                color: $skyblue;
                font-size: 1.75rem;
                font-weight: 700;
            }
        }
    }
    .phases-details{
        background-color: #0C2F75;
        .phases__items{
            @include flexCenter;
            justify-content: space-between;
            @media (max-width: 767.98px) {
                flex-direction: column;
                padding: 4rem 0;
            }
            .phases__left{
                width: 60%;
                @media (max-width: 767.98px) {
                    width: 100%;
                } 
                h2{
                    color: $lagoon;
                    font-size: 1.5rem;
                    font-weight: 700;
                    padding-bottom: 2rem;
                    span{
                        color: $yellow;
                    }
                }
                h5{
                    font-size: 1.25rem;
                    padding-bottom: 2rem;
                }
                p{
                    font-size: 1.25rem;
                    font-style: italic;
                }
            }
            .phases__right{
                width: 40%;  
                @media (max-width: 767.98px) {
                    padding-top: 4rem;
                    width: 100%;
                    text-align: center;
                }     
                img{
                    width: 20rem;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.energy{
    .energy-bg{
        background-color: $purple;
        .energy-top{
            padding: 4.5rem 0;
            h2{
                color: $skyblue;
                font-size: 1.75rem;
                font-weight: 700;
            }
        }
    }
    .energy-details{
        padding: 4rem 0;
        background-color: #0C2F75;
        .energy__items{
            display: flex;
            align-items: flex-start;
            padding-bottom: 4rem;
            justify-content: space-between;
            @media (max-width: 767.98px) {
                flex-direction: column;
            }
            .energy__left{
                width: 45%;
                @media (max-width: 767.98px) {
                    width: 100%;
                } 
                h2{
                    color: $lagoon;
                    font-size: 1.5rem;
                    font-weight: 700;
                    padding-bottom: 2rem;
                    span{
                        color: $yellow;
                    }
                }
            }
            .energy__right{
                width: 50%;  
                @media (max-width: 767.98px) {
                    padding-top: 4rem;
                    width: 100%;
                    text-align: center;
                }     
                img{
                    width: 35rem;
                    @media (max-width: 991.98px) {
                        width: 100%;
                    }
                }
            }
        }
        .energy__others{
            h5{
                font-size: 1.25rem;
                padding-bottom: 2rem;
            }
            p{
                font-size: 1.625rem;
                padding-bottom: 2rem;
            }
        }
    }
}

.offerings{
    .offerings-bg{
        background-color: $purple;
        .offerings-top{
            padding: 4.5rem 0;
            h2{
                color: $skyblue;
                font-size: 1.75rem;
                font-weight: 700;
            }
        }
    }
    .offerings-details{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blue-covid-banner.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 50rem;
        width: 100%;
        .offerings__items{
            display: flex;
            justify-content: space-between;
            align-items: flex-start; 
            padding: 4rem 0;
            @media (max-width: 767.98px) {
                flex-direction: column;
            }
            .offerings__left{
                width: 45%;
                @media (max-width: 767.98px) {
                    width: 100%;
                } 
                h2{
                    font-size: 1.85rem;
                    padding-bottom: 2rem;
                    span{
                        color: $yellow;
                    }
                }
            }
            .offerings__right{
                width: 55%;  
                @media (max-width: 767.98px) {
                    padding-top: 4rem;
                    width: 100%;
                    text-align: center;
                }     
                img{
                    width: 36rem;
                    @media (max-width: 991.98px) {
                        width: 95%;
                    }
                }
            }
        }
        .offerings__others{
            h2{
                font-size: 1.55rem;
                font-weight: 700;
                padding-bottom: 0.5rem;
            }
            h5{
                font-size: 1.30rem;
                font-weight: 700;
                padding-bottom: 0.25rem;
            }
            p{
                font-size: 1.25rem;
                padding-bottom: 2rem;
                font-style: italic;
                padding-bottom: 2rem;
            }
            h6{
                font-size: 1.25rem;
                padding-bottom: 2rem;
            }
        }
    }

    .action{
        .action-details{
            background-color: #0C2F75;
            .action__items{
                @include flexCenter;
                justify-content: space-between;
                padding-bottom: 6rem;
                @media (max-width: 767.98px) {
                    flex-direction: column;
                    padding: 4rem 0;
                }
                .action__left{
                    @include flexCenter;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 50%;  
                    @media (max-width: 767.98px) {
                        padding-top: 4rem;
                        width: 100%;
                    }     
                    img{
                        width: 23rem;
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            width: 20rem;
                        }
                    }
                    .action__btn{
                        width: 23rem;
                        padding: 1.5rem 0;
                        background-color: $yellow;
                        color: $black;
                        font-size: 1.2rem;
                        font-style: italic;
                        border-bottom-left-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            width: 20rem;
                            font-size: 1rem;
                        }
                        a{
                            button{
                                background-color: $yellow;
                                padding: 0.5rem 3rem;
                                border-radius: 1.25rem;
                                box-shadow: 5px 3px 7px 0px rgba(0,0,0,0.75);
                                font-size: 1.5rem;
                                font-weight: 800;
                                color: #0C2F75;
                                &:hover{
                                    background-color: $white;
                                    color: $purple;
                                }
                                span{
                                    font-size: 1.40rem;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                .action__right{
                    width: 50%;
                    @media (max-width: 575.98px) {
                        padding: 4rem 0;
                    }
                    @media (max-width: 767.98px) {
                        width: 100%;
                    }
                    h2{
                        font-size: 2.25rem;
                        font-weight: 600;
                        padding-bottom: 2rem;
                        @media (max-width: 575.98px) {
                            font-size: 1.625rem;
                        }
                    }          
                    img{
                        width: 35rem;
                        @media (max-width: 991.98px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.footer{
    padding-top: 2rem;
    background-color: #13112B;
    .footer__upper{
        padding: 3rem 0;
        h5{
            font-size: 1.25rem;
            padding-bottom: 1.5rem;
        }
        a{
            display: block;
            font-size: 1.25rem;
            font-style: italic;
            color: $orange;
        }
    }
    .footer-below{
        border-top: 0.01px solid #BABABA;
        padding: 0 3rem;
        img{
            @media (max-width: 991.98px) {
                width: 15rem;
            }
        }
    }
}

.main{
    .modal{
        background: hsla(0,0%,100%,.5);
        .modal-dialog{
            max-width: 90%;
            @media (max-width: 575.98px) {
                max-width: 100%;
            }
            .modal-content{
                border: 0;
                box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
                border-radius: 0.25rem;
                .modal-header{
                    background-color: $blue;
                    border-bottom: 0;
                    padding: 2rem 1rem;
                    .close{
                        font-family: Arial, sans-serif;
                        padding: 0.5rem 2rem;
                        font-size: 2.5rem;
                        font-weight: 500;
                        color: $white;
                        &:hover {
                            color: $skyblue;
                        }
                    }
                }
                .modal-body {
                    padding: 0;
                    .terms__container {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blue-covid-banner.webp);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        .terms-overflow {
                            padding: 4rem;
                            width: 100%;
                            // overflow-y: scroll;
                            // height: 55rem;
                            @media (max-width: 575.98px) {
                                padding: 1.5rem;
                            }
                            .term-title{
                                font-size: 1.625rem;
                                font-weight: 600;
                                font-style: italic;
                                color: $skyblue;
                                padding-bottom: 2rem;
                            }
                            .term-contents{
                                h4{
                                    font-size: 1.5rem;
                                    padding-bottom: 2rem;
                                }
                                h5{
                                    font-size: 1.40rem;
                                    padding-bottom: 2rem;
                                }
                                a{
                                    font-weight: 1.25rem;
                                    font-style: italic;
                                    color: $skyblue;
                                }
                                p{
                                    font-weight: 1.25rem;
                                    font-style: italic;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .fade{
        opacity: 1;
        background: #0C2F75;
        padding-right: 0 !important;
    }
}

.inner{
    .modal{
        background: rgba(0, 0, 0, 0.5);
        .modal-dialog{
            max-width: 75%;
            margin-top: 5rem;
            @media (max-width: 575.98px) {
                max-width: 100%;
            }
            .modal-content{
                border: 0;
                box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
                border-radius: 0.25rem;
                .modal-header{
                    background-color: $blue;
                    border-bottom: 0;
                    padding: 2rem 1rem;
                    .close{
                        font-family: Arial, sans-serif;
                        padding: 0.5rem 2rem;
                        font-size: 2.5rem;
                        font-weight: 500;
                        color: $white;
                        &:hover {
                            color: $skyblue;
                        }
                    }
                }
                .modal-body {
                    padding: 0;
                    .terms__container {
                        background: $blue;
                        .terms-overflow {
                            padding: 4rem;
                            width: 100%;
                            // overflow-y: scroll;
                            // height: 55rem;
                            @media (max-width: 575.98px) {
                                padding: 3rem 2rem;
                            }
                            .term-title{
                                font-size: 1.625rem;
                                font-weight: 600;
                                font-style: italic;
                                color: $skyblue;
                                padding-bottom: 2rem;
                            }
                            .term-contents{
                                h4{
                                    font-size: 1.5rem;
                                    padding-bottom: 2rem;
                                }
                                h5{
                                    font-size: 1.40rem;
                                    padding-bottom: 2rem;
                                }
                                a{
                                    font-weight: 1.25rem;
                                    font-style: italic;
                                    color: $skyblue;
                                }
                                p{
                                    font-weight: 1.25rem;
                                    font-style: italic;
                                }
                            }
                            p{
                                font-size: 1.25rem;
                                font-weight: 700;
                                color: $orange;
                            }
                        }
                    }
                }
            }
        }
    }
    .fade{
        opacity: 1;
        padding-right: 0 !important;
    }
}

.inner{
    .header{
        .header__left{
            .join-top{
                padding-top: 1.75rem;
                @media (max-width: 575.98px) {
                    padding-top: 1rem;
                }
                @media (min-width: 576px) and (max-width: 991.98px) {
                    padding-top: 0.5rem;
                }
                h6{
                    font-size: 1rem;
                    letter-spacing: 0.5rem;
                    padding: 0.5rem 0;
                    color: $white;
                    @media (max-width: 575.98px) {
                        font-size: 0.7rem;
                        letter-spacing: 0.4rem;
                    }
                }
                img{
                    width: 13rem;
                    @media (max-width: 575.98px) {
                        width: 10rem;
                    }
                }
            }
        }
    }
    .modalAuth{
        .modal-dialog{
            margin-top: 0;
            max-width: 500px;
            @media (max-width: 575.98px) {
                max-width: 90%;
                margin: 0 auto;
            }
        }
        .modal-content {
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0.625rem;
        }
        .modal-body {
            padding: 3rem 1.25rem !important;
        }
        
        .modal-body{
            color: $purple;
            button{
                color: $purple;
                padding: 1rem;
                max-height: 5.625rem;
                width: 12rem !important;
                font-size: 0.9 !important;
                background: white 0% 0% no-repeat padding-box;
                border: 0.1875rem solid $blue;
                border-radius: 0.375rem;
                font-weight: bold;
            }
        }
    }
}

.join{
    .join-bg{
        background-color: #00205D;
        .join-top{
            padding: 3rem 0 2rem 0;
            img{
                width: 17rem;
            }
            h6{
                font-size: 1.5rem;
                letter-spacing: 0.5rem;
                padding: 0.5rem 0;
            }
        }
    }
    .join-details{
        padding: 2rem 0 2rem 0;
        background-color: #00205D;
        .join__items{
            // @media (min-width: 992px){
            //     width: 75%;
            // }
            h2{
                font-size: 1.75rem;
                font-weight: 500;
                padding-bottom: 2rem;
            }
            p{
                color: $lagoon;
                font-size: 1.45rem;
                span{
                    padding: 0 0.5rem;
                    background-color: $yellow;
                    color: $black;
                }
            }
        }
        .form_data{
            label{
                @media (max-width: 575.98px) {
                    font-size: 1.25rem !important;
                }
            }
        }
        .join__form{
            padding: 3rem 0;
            form{
                input, label{
                    font-size: 1.45rem;
                }
                input{
                    @media (min-width: 992px){
                        width: 75%;
                    }
                }
                .access{
                    font-size: 1rem !important;
                    display: inline;
                    padding: 0;
                }
                button{
                    font-size: 1.25rem;
                    background-color: $white;
                    color: $blue;
                    padding: 0.5rem 2.5rem;
                    border-radius: 0.75rem;
                    border: none;
                    font-weight: 700;
                    &:hover{
                        background-color: $skyblue;
                        color: $blue;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .join-below{
        border-top: 0.01px solid #BABABA;
        padding: 3rem 0;
        p{
            font-size: 1.25rem;
            font-weight: 500;
            a{
                text-decoration: underline;
            }
            h6{
                font-size: 1rem;
            }
            span{
                a{
                    text-decoration: none;
                    font-size: 1.25rem;
                    font-weight: 700;
                    padding-bottom: 2rem;
                    color: $orange;
                }
            }
        }
    }
}